[project]
	description = host computer for bms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jianfson
[access "refs/for/refs/*"]
	read = group user/jianfson
	push = group user/jianfson
	label-Code-Review = -2..+2 group user/jianfson
	label-Verified = -1..+1 group user/jianfson
	rebase = group user/jianfson
	removeReviewer = group user/jianfson
	submit = group user/jianfson
[access "refs/heads/*"]
	read = group user/jianfson
	create = group user/jianfson
	push = +force group user/jianfson
	pushMerge = group user/jianfson
[access "refs/tags/*"]
	push = group user/jianfson
	push = +force group user/jianfson
